.fmx163-tip {
    background: #ccc;
    padding: 4px;
    background-color: white;
}
.fmx163-volumn-tip {
    position: absolute;
    top: 230px;
    left: 50%;
    z-index: 10000;
    margin-left: 100px;
    width: 324px;
    box-shadow: #aaaaff 0px 0px 12px;
}
.fmx163-about {
    position: absolute;
    z-index: 10000;
    top: 355px;
    left: 50%;
    margin-left: -59px;
    padding: 6px;
    background-color: white;
}
.arrow-up {
    position: absolute;
	width: 0; 
	height: 0; 
    right: 0;
    top: -8px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid white;
}
