.fmx163-tip {
    background: #ccc;
    padding: 4px;
    background-color: white;
}
.fmx163-volumn-tip {
    position: absolute;
    top: 230px;
    left: 50%;
    z-index: 10000;
    margin-left: 125px;
    width: 300px;
    box-shadow: #aaaaff 0px 0px 12px;
}
.fmx163-about {
    position: absolute;
    z-index: 10000;
    top: 390px;
    left: 50%;
    margin-left: -59px;
    padding: 6px;
    background-color: white;
    width: 300px;
}
.arrow-up {
    position: absolute;
	width: 0; 
	height: 0; 
    right: 0;
    top: -8px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid white;
}
#fmx163-player {
    position: absolute;
    z-index: 9995;
    top: 229px;
    left: 50%;
    padding: 0;
    margin: 0;
    background: transparent;
    margin-left: 185px;
}
#fmx163-player audio {
    width: 269px;
}

#fmx163-player-info {
    position: absolute;
    z-index: 9999;
    padding: 0;
    background-color: #434343;
    top: 229px;
    left: 50%;
    margin-left: 261px;
    width: 84px;
    height: 30px;
    line-height: 30px;
    padding: 0px 10px 0px 12px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
#fmx163-player-info img {
    margin-top: 4px;
    width: 22px;
    height: 22px;
}
#fmx163-player-info-icon {
    float: left;
}
#fmx163-player-info-actions {
    margin-left: 6px;
    float: left;
}
#fmx163-player-info-actions a {
    background-color: none;
    color: white;
}
#fmx163-player-blocker {
    position: absolute;
    z-index: 9996;
    top: 229px;
    left: 50%;
    padding: 0;
    margin: 0;
    background: white;
    margin-left: 185px;
    height: 40px;
    width: 180px;
}
.div-fork {
    float: right;
    padding-left: 4px;
}
.wrapper-jiathis {
    padding-top: 4px;
    margin-top: 4px;
    border-top: 1px solid #f4f4f4;
}
.icon-small {
    height: 18px;
    width: 18px;
    vertical-align:middle;
}
#buy-me-a-coffee {
    position: replative;
}
#div-qr-alipay {
    position: absolute;
    background-color: white;
    left: -4px;
    top: -270px;
    padding: 8px;
    height: 250px;
    border: 1px solid #999;
    display: none;
}
